<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>filter.userFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>main.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moderatorDashboardController</servlet-name>
        <servlet-class>main.moder.moderatorDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDashboardController</servlet-name>
        <servlet-class>main.admin.adminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>main.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPConfirmationController</servlet-name>
        <servlet-class>main.OTPConfirmationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlog</servlet-name>
        <servlet-class>main.moder.ListBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyBlog</servlet-name>
        <servlet-class>main.moder.VerifyBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>main.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moderatorDashboardController</servlet-name>
        <url-pattern>/moder/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPConfirmationController</servlet-name>
        <url-pattern>/otp-confirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlog</servlet-name>
        <url-pattern>/moder/listBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyBlog</servlet-name>
        <url-pattern>/moder/verifyBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
</web-app>
